.avatar {
    display: flex;
    justify-content: center;
    .avatar-img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #61dafb;
        }
    }

