.list-user-container{
    .list-user-content{
        padding: 10px;
        .child{
                width: 500px;
                margin: 0 auto;
                border: 1px solid white;
                padding: 10px;
        }
    }
}